# Project 1: Languages Spoken in the Homes of Minnesota Public School Students

## Contributors: Sam Espe, Yameena Khan, Maryam Osman, Nhan Tran (Group 7)

## Notebook 1: Data Cleaning and Exploration

In [ ]:
# Import dependencies

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Read and clean data: read in CSVs, rename columns, drop unnecessary columns, split off yearly summary

In [2]:
primary_home_language_2007 = "data/2006-2007 Primary Home Language Totals.csv"
primary_home_language_2007_df = pd.read_csv(primary_home_language_2007)
primary_home_language_2007_rename_df = primary_home_language_2007_df.rename(columns = { "dat_yer" : "School Year", "district" : "District Name", "language" : "Language Name", "homprm_lng": "Home Primary Language", "k12count" : "Student Count" , "county" : "County Name", "stratanum" : "Strata Number", "strata" : "Strata Name"})
primary_home_language_2007_summary_df  = primary_home_language_2007_rename_df.drop(columns = ["sub_cde","dst_num","dst_tye","d_county","eco_dev"])
primary_home_language_2007_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,06-07,AITKIN PUBLIC SCHOOL DISTRICT,ENGLISH,11,1318,AITKIN,4.0,Outstate - Enrollment between 1000 and 1999
1,06-07,AITKIN PUBLIC SCHOOL DISTRICT,SPANISH,45,2,AITKIN,4.0,Outstate - Enrollment between 1000 and 1999
2,06-07,MINNEAPOLIS PUBLIC SCHOOL DIST.,AFGHAN,60,3,HENNEPIN,1.0,Minneapolis and Saint Paul
3,06-07,MINNEAPOLIS PUBLIC SCHOOL DIST.,AFRIKAANS,1,4,HENNEPIN,1.0,Minneapolis and Saint Paul
4,06-07,MINNEAPOLIS PUBLIC SCHOOL DIST.,AMERICAN INDIAN,6,1,HENNEPIN,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
3479,06-07,Statewide Totals,UZBEK,96,2,NaN,NaN,NaN
3480,06-07,Statewide Totals,VIETNAMESE,51,3215,NaN,NaN,NaN
3481,06-07,Statewide Totals,WOLOF,94,9,NaN,NaN,NaN
3482,06-07,Statewide Totals,YAO,61,3,NaN,NaN,NaN
3483,06-07,Statewide Totals,YORUBA,75,257,NaN,NaN,NaN

In [3]:
primary_home_language_2007_final_df = primary_home_language_2007_summary_df[~primary_home_language_2007_summary_df["Strata Number"].isna()]
primary_home_language_2007_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,06-07,AITKIN PUBLIC SCHOOL DISTRICT,ENGLISH,11,1318,AITKIN,4.0,Outstate - Enrollment between 1000 and 1999
1,06-07,AITKIN PUBLIC SCHOOL DISTRICT,SPANISH,45,2,AITKIN,4.0,Outstate - Enrollment between 1000 and 1999
2,06-07,MINNEAPOLIS PUBLIC SCHOOL DIST.,AFGHAN,60,3,HENNEPIN,1.0,Minneapolis and Saint Paul
3,06-07,MINNEAPOLIS PUBLIC SCHOOL DIST.,AFRIKAANS,1,4,HENNEPIN,1.0,Minneapolis and Saint Paul
4,06-07,MINNEAPOLIS PUBLIC SCHOOL DIST.,AMERICAN INDIAN,6,1,HENNEPIN,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
3382,06-07,CENTRAL MINNESOTA JT. POWERS DIST.,ENGLISH,11,63,STEARNS,6.0,Outstate - Enrollment less than 500
3383,06-07,CENTRAL MINNESOTA JT. POWERS DIST.,SPANISH,45,1,STEARNS,6.0,Outstate - Enrollment less than 500
3384,06-07,NORTHLAND LEARNING CENTER,ENGLISH,11,117,SAINT LOUIS,6.0,Outstate - Enrollment less than 500
3385,06-07,BENTON-STEARNS ED. DISTRICT,ENGLISH,11,29,STEARNS,6.0,Outstate - Enrollment less than 500
3386,06-07,MID STATE EDUCATION DISTRICT,ENGLISH,11,31,MORRISON,6.0,Outstate - Enrollment less than 500

In [5]:
language_summary_2007_df = primary_home_language_2007_summary_df[primary_home_language_2007_summary_df["Strata Number"].isna()]
language_summary_2007_final_df = language_summary_2007_df.drop(columns = {"County Name", "Strata Number", "Strata Name"})
language_summary_2007_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
3387,06-07,Statewide Totals,ADANGME,83,121
3388,06-07,Statewide Totals,AFGHAN,60,21
3389,06-07,Statewide Totals,AFRIKAANS,1,525
3390,06-07,Statewide Totals,ALBANIAN,72,42
3391,06-07,Statewide Totals,AMERICAN INDIAN,6,27
...,...,...,...,...,...
3479,06-07,Statewide Totals,UZBEK,96,2
3480,06-07,Statewide Totals,VIETNAMESE,51,3215
3481,06-07,Statewide Totals,WOLOF,94,9
3482,06-07,Statewide Totals,YAO,61,3
3483,06-07,Statewide Totals,YORUBA,75,257

In [6]:
primary_home_language_2008 = "data/2007-2008 Primary Home Language Totals.csv"
primary_home_language_2008_df = pd.read_csv(primary_home_language_2008)
primary_home_language_2008_rename_df = primary_home_language_2008_df.rename(columns = { "fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName" : "County Name", "strata" : "Strata Number", "startaName" : "Strata Name"})
primary_home_language_2008_summary_df = primary_home_language_2008_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})

In [7]:
primary_home_language_2008_final_df = primary_home_language_2008_summary_df[~primary_home_language_2008_summary_df["Strata Number"].isna()]
primary_home_language_2008_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,07-08,AITKIN PUBLIC SCHOOL DISTRICT,ENGLISH,11,1283,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,07-08,AITKIN PUBLIC SCHOOL DISTRICT,SPANISH,45,3,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,07-08,MINNEAPOLIS PUBLIC SCHOOL DIST.,HINDI,19,75,Hennepin,1.0,Minneapolis and Saint Paul
3,07-08,MINNEAPOLIS PUBLIC SCHOOL DIST.,CHINESE,7,54,Hennepin,1.0,Minneapolis and Saint Paul
4,07-08,MINNEAPOLIS PUBLIC SCHOOL DIST.,AFRIKAANS,1,3,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
3419,07-08,VALLEY CROSSING COMMUNITY SCHOOL,HMONG,20,8,Washington,2.0,County Metro Area excluding MPLS/STP
3420,07-08,CENTRAL MINNESOTA JT. POWERS DIST.,ENGLISH,11,41,Stearns,6.0,Outstate - Enrollment less than 500
3421,07-08,NORTHLAND LEARNING CENTER,ENGLISH,11,97,St. Louis,6.0,Outstate - Enrollment less than 500
3422,07-08,BENTON-STEARNS ED. DISTRICT,ENGLISH,11,34,Stearns,6.0,Outstate - Enrollment less than 500
3423,07-08,MID STATE EDUCATION DISTRICT,ENGLISH,11,29,Morrison,6.0,Outstate - Enrollment less than 500

In [9]:
language_summary_2008_df = primary_home_language_2008_summary_df[primary_home_language_2008_summary_df["Strata Number"].isna()]
language_summary_2008_final_df = language_summary_2008_df.drop(columns = {"County Name", "Strata Number", "Strata Name"})
language_summary_2008_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
3424,07-08,STATEWIDE,SWEDISH,46,80
3425,07-08,STATEWIDE,ROMANIAN,39,140
3426,07-08,STATEWIDE,ARABIC,2,1301
3427,07-08,STATEWIDE,HAUSA,66,33
3428,07-08,STATEWIDE,SLOVAK,43,25
...,...,...,...,...,...
3510,07-08,STATEWIDE,RWANDA/SOTHO/ZULU,93,18
3511,07-08,STATEWIDE,OROMO,74,950
3512,07-08,STATEWIDE,BALINESE/JAVANESE/SUNDANESE,86,13
3513,07-08,STATEWIDE,TIBETAN,73,159
3514,07-08,STATEWIDE,CAMBODIAN,5,1628

In [10]:
primary_home_language_2009 = "data/2008-2009 Primary Home Language Totals.csv"
primary_home_language_2009_df = pd.read_csv(primary_home_language_2009)
primary_home_language_2009_rename_df = primary_home_language_2008_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "county" : "County", "CountyName": "County Name", "startaName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2009_summary_df = primary_home_language_2009_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
primary_home_language_2009_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,07-08,AITKIN PUBLIC SCHOOL DISTRICT,ENGLISH,11,1283,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,07-08,AITKIN PUBLIC SCHOOL DISTRICT,SPANISH,45,3,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,07-08,MINNEAPOLIS PUBLIC SCHOOL DIST.,HINDI,19,75,Hennepin,1.0,Minneapolis and Saint Paul
3,07-08,MINNEAPOLIS PUBLIC SCHOOL DIST.,CHINESE,7,54,Hennepin,1.0,Minneapolis and Saint Paul
4,07-08,MINNEAPOLIS PUBLIC SCHOOL DIST.,AFRIKAANS,1,3,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
3510,07-08,STATEWIDE,RWANDA/SOTHO/ZULU,93,18,UNKNOWN,NaN,NaN
3511,07-08,STATEWIDE,OROMO,74,950,UNKNOWN,NaN,NaN
3512,07-08,STATEWIDE,BALINESE/JAVANESE/SUNDANESE,86,13,UNKNOWN,NaN,NaN
3513,07-08,STATEWIDE,TIBETAN,73,159,UNKNOWN,NaN,NaN
3514,07-08,STATEWIDE,CAMBODIAN,5,1628,UNKNOWN,NaN,NaN

In [12]:
primary_home_language_2009_final_df = primary_home_language_2009_summary_df[~primary_home_language_2009_summary_df['Strata Number'].isnull()]
primary_home_language_2009_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,07-08,AITKIN PUBLIC SCHOOL DISTRICT,ENGLISH,11,1283,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,07-08,AITKIN PUBLIC SCHOOL DISTRICT,SPANISH,45,3,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,07-08,MINNEAPOLIS PUBLIC SCHOOL DIST.,HINDI,19,75,Hennepin,1.0,Minneapolis and Saint Paul
3,07-08,MINNEAPOLIS PUBLIC SCHOOL DIST.,CHINESE,7,54,Hennepin,1.0,Minneapolis and Saint Paul
4,07-08,MINNEAPOLIS PUBLIC SCHOOL DIST.,AFRIKAANS,1,3,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
3419,07-08,VALLEY CROSSING COMMUNITY SCHOOL,HMONG,20,8,Washington,2.0,County Metro Area excluding MPLS/STP
3420,07-08,CENTRAL MINNESOTA JT. POWERS DIST.,ENGLISH,11,41,Stearns,6.0,Outstate - Enrollment less than 500
3421,07-08,NORTHLAND LEARNING CENTER,ENGLISH,11,97,St. Louis,6.0,Outstate - Enrollment less than 500
3422,07-08,BENTON-STEARNS ED. DISTRICT,ENGLISH,11,34,Stearns,6.0,Outstate - Enrollment less than 500
3423,07-08,MID STATE EDUCATION DISTRICT,ENGLISH,11,29,Morrison,6.0,Outstate - Enrollment less than 500

In [14]:
language_summary_2009_df = primary_home_language_2009_summary_df[primary_home_language_2009_summary_df["Strata Number"].isna()]
language_summary_2009_final_df = language_summary_2009_df.drop(columns = {"County Name", "Strata Number", "Strata Name"})
language_summary_2009_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
3424,07-08,STATEWIDE,SWEDISH,46,80
3425,07-08,STATEWIDE,ROMANIAN,39,140
3426,07-08,STATEWIDE,ARABIC,2,1301
3427,07-08,STATEWIDE,HAUSA,66,33
3428,07-08,STATEWIDE,SLOVAK,43,25
...,...,...,...,...,...
3510,07-08,STATEWIDE,RWANDA/SOTHO/ZULU,93,18
3511,07-08,STATEWIDE,OROMO,74,950
3512,07-08,STATEWIDE,BALINESE/JAVANESE/SUNDANESE,86,13
3513,07-08,STATEWIDE,TIBETAN,73,159
3514,07-08,STATEWIDE,CAMBODIAN,5,1628

In [15]:
primary_home_language_2010 = "data/2009-2010 Primary Home Language Totals.csv"
primary_home_language_2010_df = pd.read_csv(primary_home_language_2010)
primary_home_language_2010_rename_df = primary_home_language_2010_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName" : "County Name", "startaName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2010_summary_df = primary_home_language_2010_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
primary_home_language_2010_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,09-10,AITKIN PUBLIC SCHOOL DISTRICT,ENGLISH,11,1268,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,09-10,AITKIN PUBLIC SCHOOL DISTRICT,RUSSIAN,40,1,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,09-10,AITKIN PUBLIC SCHOOL DISTRICT,SPANISH,45,2,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,09-10,MINNEAPOLIS PUBLIC SCHOOL DIST.,TURKISH,48,5,Hennepin,1.0,Minneapolis and Saint Paul
4,09-10,MINNEAPOLIS PUBLIC SCHOOL DIST.,NORWEGIAN,34,2,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
3642,09-10,STATEWIDE,SWEDISH,46,75,UNKNOWN,NaN,NaN
3643,09-10,STATEWIDE,DANISH,9,39,UNKNOWN,NaN,NaN
3644,09-10,STATEWIDE,MONGOLIAN,25,9,UNKNOWN,NaN,NaN
3645,09-10,STATEWIDE,GAELIC,16,3,UNKNOWN,NaN,NaN
3646,09-10,STATEWIDE,TURKISH,48,48,UNKNOWN,NaN,NaN

In [16]:
primary_home_language_2010_final_df = primary_home_language_2010_summary_df[~primary_home_language_2010_summary_df["Strata Number"].isna()]
primary_home_language_2010_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,09-10,AITKIN PUBLIC SCHOOL DISTRICT,ENGLISH,11,1268,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,09-10,AITKIN PUBLIC SCHOOL DISTRICT,RUSSIAN,40,1,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,09-10,AITKIN PUBLIC SCHOOL DISTRICT,SPANISH,45,2,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,09-10,MINNEAPOLIS PUBLIC SCHOOL DIST.,TURKISH,48,5,Hennepin,1.0,Minneapolis and Saint Paul
4,09-10,MINNEAPOLIS PUBLIC SCHOOL DIST.,NORWEGIAN,34,2,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
3546,09-10,CENTRAL MINNESOTA JT. POWERS DIST.,ENGLISH,11,48,Stearns,6.0,Outstate - Enrollment less than 500
3547,09-10,NORTHLAND LEARNING CENTER,ENGLISH,11,87,St. Louis,6.0,Outstate - Enrollment less than 500
3548,09-10,RUM RIVER SPECIAL EDUCATION COOP,ENGLISH,11,68,Isanti,6.0,Outstate - Enrollment less than 500
3549,09-10,BENTON-STEARNS ED. DISTRICT,ENGLISH,11,35,Stearns,6.0,Outstate - Enrollment less than 500
3550,09-10,MID STATE EDUCATION DISTRICT,ENGLISH,11,28,Morrison,6.0,Outstate - Enrollment less than 500

In [18]:
language_summary_2010_df = primary_home_language_2010_summary_df[primary_home_language_2010_summary_df["Strata Number"].isna()]
language_summary_2010_final_df = language_summary_2010_df.drop(columns = {"County Name", "Strata Number", "Strata Name"})
language_summary_2010_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
3551,09-10,STATEWIDE,BERBER/ KABYLE,78,2
3552,09-10,STATEWIDE,CHINESE,7,2000
3553,09-10,STATEWIDE,CZECH,4,25
3554,09-10,STATEWIDE,FINNISH,14,53
3555,09-10,STATEWIDE,SINGHALESE,58,12
...,...,...,...,...,...
3642,09-10,STATEWIDE,SWEDISH,46,75
3643,09-10,STATEWIDE,DANISH,9,39
3644,09-10,STATEWIDE,MONGOLIAN,25,9
3645,09-10,STATEWIDE,GAELIC,16,3
3646,09-10,STATEWIDE,TURKISH,48,48

In [19]:
primary_home_language_2011 = "data/2010_2011 Primary Home Language Totals.csv"
primary_home_language_2011_df = pd.read_csv(primary_home_language_2011)
primary_home_language_2011_rename_df = primary_home_language_2011_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName": "County Name", "strataName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2011_summary_df = primary_home_language_2011_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
primary_home_language_2011_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,10-11,MINNEAPOLIS PUBLIC SCHOOL DIST.,Amharic,63.0,82.0,Hennepin,1.0,Minneapolis and Saint Paul
1,10-11,MINNEAPOLIS PUBLIC SCHOOL DIST.,Arabic,2.0,58.0,Hennepin,1.0,Minneapolis and Saint Paul
2,10-11,MINNEAPOLIS PUBLIC SCHOOL DIST.,Bengali,10.0,20.0,Hennepin,1.0,Minneapolis and Saint Paul
3,10-11,MINNEAPOLIS PUBLIC SCHOOL DIST.,Bosnian,41.0,9.0,Hennepin,1.0,Minneapolis and Saint Paul
4,10-11,MINNEAPOLIS PUBLIC SCHOOL DIST.,Bulgarian,64.0,1.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
4308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
primary_home_language_2011_final_df = primary_home_language_2011_summary_df[~primary_home_language_2011_summary_df["Strata Number"].isna()]
primary_home_language_2011_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,10-11,MINNEAPOLIS PUBLIC SCHOOL DIST.,Amharic,63.0,82.0,Hennepin,1.0,Minneapolis and Saint Paul
1,10-11,MINNEAPOLIS PUBLIC SCHOOL DIST.,Arabic,2.0,58.0,Hennepin,1.0,Minneapolis and Saint Paul
2,10-11,MINNEAPOLIS PUBLIC SCHOOL DIST.,Bengali,10.0,20.0,Hennepin,1.0,Minneapolis and Saint Paul
3,10-11,MINNEAPOLIS PUBLIC SCHOOL DIST.,Bosnian,41.0,9.0,Hennepin,1.0,Minneapolis and Saint Paul
4,10-11,MINNEAPOLIS PUBLIC SCHOOL DIST.,Bulgarian,64.0,1.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
3742,10-11,CENTRAL MINNESOTA JT. POWERS DIST.,English,11.0,55.0,Stearns,6.0,Outstate - Enrollment less than 500
3743,10-11,NORTHLAND LEARNING CENTER,English,11.0,84.0,St. Louis,6.0,Outstate - Enrollment less than 500
3744,10-11,RUM RIVER SPECIAL EDUCATION COOP,English,11.0,60.0,Isanti,6.0,Outstate - Enrollment less than 500
3745,10-11,BENTON-STEARNS ED. DISTRICT,English,11.0,28.0,Stearns,6.0,Outstate - Enrollment less than 500
3746,10-11,MID STATE EDUCATION DISTRICT,English,11.0,37.0,Morrison,6.0,Outstate - Enrollment less than 500

In [22]:
language_summary_2011_df = primary_home_language_2011_summary_df[primary_home_language_2011_summary_df["Strata Number"].isna()]
language_summary_2011_final_df = language_summary_2011_df.drop(columns = {"County Name", "Strata Number", "Strata Name"})
language_summary_2011_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
3747,10-11,STATEWIDE,Adangme,83.0,222.0
3748,10-11,STATEWIDE,Afrikaans,1.0,162.0
3749,10-11,STATEWIDE,Akan,156.0,1.0
3750,10-11,STATEWIDE,Albanian,72.0,46.0
3751,10-11,STATEWIDE,Amharic,63.0,890.0
...,...,...,...,...,...
4308,NaN,NaN,NaN,NaN,NaN
4309,NaN,NaN,NaN,NaN,NaN
4310,NaN,NaN,NaN,NaN,NaN
4311,NaN,NaN,NaN,NaN,NaN
4312,NaN,NaN,NaN,NaN,NaN

In [23]:
primary_home_language_2012 = "data/2011-2012 Primary Home Language Totals.csv"
primary_home_language_2012_df = pd.read_csv(primary_home_language_2012)
primary_home_language_2012_rename_df = primary_home_language_2012_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName": "County Name", "strataName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2012_summary_df = primary_home_language_2012_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
primary_home_language_2012_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,11-12,AITKIN PUBLIC SCHOOL DISTRICT,Spanish,45,1,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,11-12,AITKIN PUBLIC SCHOOL DISTRICT,English,11,1243,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,11-12,MINNEAPOLIS PUBLIC SCHOOL DIST.,Estonian,12,3,Hennepin,1.0,Minneapolis and Saint Paul
3,11-12,MINNEAPOLIS PUBLIC SCHOOL DIST.,Ukrainian,49,5,Hennepin,1.0,Minneapolis and Saint Paul
4,11-12,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Indonesian, Bahasa Indonesian",32,8,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
4287,11-12,STATEWIDE,Turkman,135,1,UNKNOWN,NaN,NaN
4288,11-12,STATEWIDE,Urhobo,384,1,UNKNOWN,NaN,NaN
4289,11-12,STATEWIDE,Hebrew,18,27,UNKNOWN,NaN,NaN
4290,11-12,STATEWIDE,Rwanda,93,15,UNKNOWN,NaN,NaN
4291,11-12,STATEWIDE,"Swahili, Kiswahili",70,676,UNKNOWN,NaN,NaN

In [24]:
primary_home_language_2012_final_df = primary_home_language_2012_summary_df[~primary_home_language_2012_summary_df["Strata Number"].isna()]
primary_home_language_2012_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,11-12,AITKIN PUBLIC SCHOOL DISTRICT,Spanish,45,1,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,11-12,AITKIN PUBLIC SCHOOL DISTRICT,English,11,1243,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,11-12,MINNEAPOLIS PUBLIC SCHOOL DIST.,Estonian,12,3,Hennepin,1.0,Minneapolis and Saint Paul
3,11-12,MINNEAPOLIS PUBLIC SCHOOL DIST.,Ukrainian,49,5,Hennepin,1.0,Minneapolis and Saint Paul
4,11-12,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Indonesian, Bahasa Indonesian",32,8,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
4077,11-12,CENTRAL MINNESOTA JT. POWERS DIST.,English,11,49,Stearns,6.0,Outstate - Enrollment less than 500
4078,11-12,NORTHLAND LEARNING CENTER,English,11,80,St. Louis,6.0,Outstate - Enrollment less than 500
4079,11-12,RUM RIVER SPECIAL EDUCATION COOP,English,11,53,Isanti,6.0,Outstate - Enrollment less than 500
4080,11-12,BENTON-STEARNS ED. DISTRICT,English,11,32,Stearns,6.0,Outstate - Enrollment less than 500
4081,11-12,MID STATE EDUCATION DISTRICT,English,11,46,Morrison,6.0,Outstate - Enrollment less than 500

In [26]:
language_summary_2012_df = primary_home_language_2012_summary_df[primary_home_language_2012_summary_df["Strata Number"].isna()]
language_summary_2012_final_df = language_summary_2012_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True)
language_summary_2012_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,11-12,STATEWIDE,Gujarati,112,52
1,11-12,STATEWIDE,Kashmiri,265,1
2,11-12,STATEWIDE,Marathi,116,26
3,11-12,STATEWIDE,Czech,4,20
4,11-12,STATEWIDE,Mano. Mah,297,3
...,...,...,...,...,...
205,11-12,STATEWIDE,Turkman,135,1
206,11-12,STATEWIDE,Urhobo,384,1
207,11-12,STATEWIDE,Hebrew,18,27
208,11-12,STATEWIDE,Rwanda,93,15
209,11-12,STATEWIDE,"Swahili, Kiswahili",70,676

In [27]:
primary_home_language_2013 = "data/2012-13 Primary Home Language Totals.csv"
primary_home_language_2013_df = pd.read_csv(primary_home_language_2013)
primary_home_language_2013_rename_df = primary_home_language_2013_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2013_summary_df =  primary_home_language_2013_rename_df.drop(columns  = {"District Number","District Type", "County Code", "Economic Development Region"})
primary_home_language_2013_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,12-13,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1266.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,12-13,MINNEAPOLIS PUBLIC SCHOOL DISTRICT,Hmong,20.0,1401.0,Hennepin,1.0,Minneapolis and Saint Paul
2,12-13,MINNEAPOLIS PUBLIC SCHOOL DISTRICT,Russian,40.0,20.0,Hennepin,1.0,Minneapolis and Saint Paul
3,12-13,MINNEAPOLIS PUBLIC SCHOOL DISTRICT,Somali,69.0,2535.0,Hennepin,1.0,Minneapolis and Saint Paul
4,12-13,MINNEAPOLIS PUBLIC SCHOOL DISTRICT,French,15.0,89.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
4534,12-13,STATEWIDE,Dei,218.0,1.0,UNKNOWN,NaN,NaN
4535,12-13,STATEWIDE,Dakota,8.0,7.0,UNKNOWN,NaN,NaN
4536,End of Worksheet,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
primary_home_language_2013_final_df = primary_home_language_2013_summary_df[~primary_home_language_2013_summary_df["Strata Number"].isna()]
primary_home_language_2013_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,12-13,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1266.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,12-13,MINNEAPOLIS PUBLIC SCHOOL DISTRICT,Hmong,20.0,1401.0,Hennepin,1.0,Minneapolis and Saint Paul
2,12-13,MINNEAPOLIS PUBLIC SCHOOL DISTRICT,Russian,40.0,20.0,Hennepin,1.0,Minneapolis and Saint Paul
3,12-13,MINNEAPOLIS PUBLIC SCHOOL DISTRICT,Somali,69.0,2535.0,Hennepin,1.0,Minneapolis and Saint Paul
4,12-13,MINNEAPOLIS PUBLIC SCHOOL DISTRICT,French,15.0,89.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
4301,12-13,CENTRAL MINNESOTA JT. POWERS DISTRICT,English,11.0,35.0,Stearns,6.0,Outstate - Enrollment less than 500
4302,12-13,NORTHLAND LEARNING CENTER,English,11.0,83.0,St. Louis,6.0,Outstate - Enrollment less than 500
4303,12-13,RUM RIVER SPECIAL EDUCATION COOP,English,11.0,67.0,Isanti,6.0,Outstate - Enrollment less than 500
4304,12-13,BENTON-STEARNS ED. DISTRICT,English,11.0,38.0,Stearns,6.0,Outstate - Enrollment less than 500
4305,12-13,MID STATE EDUCATION DISTRICT,English,11.0,45.0,Morrison,6.0,Outstate - Enrollment less than 500

In [30]:
language_summary_2013_df = primary_home_language_2013_summary_df[primary_home_language_2013_summary_df["Strata Number"].isna()]
language_summary_2013_final_df = language_summary_2013_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True)
language_summary_2013_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,12-13,STATEWIDE,"Filipino, Pilipino",126.0,207.0
1,12-13,STATEWIDE,Tamil,118.0,208.0
2,12-13,STATEWIDE,Kalenjin,260.0,5.0
3,12-13,STATEWIDE,Wolof,94.0,30.0
4,12-13,STATEWIDE,Edo,139.0,4.0
...,...,...,...,...,...
228,12-13,STATEWIDE,Dei,218.0,1.0
229,12-13,STATEWIDE,Dakota,8.0,7.0
230,End of Worksheet,NaN,NaN,NaN,NaN
231,NaN,NaN,NaN,NaN,NaN
232,NaN,NaN,NaN,NaN,NaN

In [31]:
primary_home_language_2014 = "data/2013-2014 Primary Home Language Totals.csv"
primary_home_language_2014_df = pd.read_csv(primary_home_language_2014)
primary_home_language_2014_rename_df = primary_home_language_2014_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2014_summary_df = primary_home_language_2014_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
primary_home_language_2014_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,13-14,AITKIN PUBLIC SCHOOL DISTRICT,English,11,1231,4.0,Outstate - Enrollment between 1000 and 1999
1,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Cebuano, Visayan, Binisaya",36,12,1.0,Minneapolis and Saint Paul
2,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,Polish,37,3,1.0,Minneapolis and Saint Paul
3,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Indonesian, Bahasa Indonesian",32,9,1.0,Minneapolis and Saint Paul
4,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,Portuguese,38,3,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4686,13-14,STATEWIDE,Tonga,168,4,NaN,NaN
4687,13-14,STATEWIDE,Marathi,116,67,NaN,NaN
4688,13-14,STATEWIDE,Palauan,336,1,NaN,NaN
4689,13-14,STATEWIDE,Dutch,33,85,NaN,NaN
4690,13-14,STATEWIDE,Haitian Creole,85,37,NaN,NaN

In [32]:
primary_home_language_2014_final_df = primary_home_language_2014_summary_df[~primary_home_language_2014_summary_df["Strata Number"].isna()]
primary_home_language_2014_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,13-14,AITKIN PUBLIC SCHOOL DISTRICT,English,11,1231,4.0,Outstate - Enrollment between 1000 and 1999
1,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Cebuano, Visayan, Binisaya",36,12,1.0,Minneapolis and Saint Paul
2,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,Polish,37,3,1.0,Minneapolis and Saint Paul
3,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Indonesian, Bahasa Indonesian",32,9,1.0,Minneapolis and Saint Paul
4,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,Portuguese,38,3,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4450,13-14,SOUTHWEST METRO EDUCATIONAL COOP,"Lao, Laotian",28,1,2.0,County Metro Area excluding MPLS/STP
4451,13-14,SOUTHWEST METRO EDUCATIONAL COOP,English,11,244,2.0,County Metro Area excluding MPLS/STP
4452,13-14,SOUTHWEST METRO EDUCATIONAL COOP,Spanish,45,25,2.0,County Metro Area excluding MPLS/STP
4453,13-14,BENTON-STEARNS ED. DISTRICT,English,11,45,6.0,Outstate - Enrollment less than 500
4454,13-14,MID STATE EDUCATION DISTRICT,English,11,47,6.0,Outstate - Enrollment less than 500

In [36]:
language_summary_2014_df = primary_home_language_2014_summary_df[primary_home_language_2014_summary_df["Strata Number"].isna()]
language_summary_2014_final_df = language_summary_2014_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True)
language_summary_2014_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,13-14,STATEWIDE,Igbo,65,169
1,13-14,STATEWIDE,Ngumba,408,3
2,13-14,STATEWIDE,German,17,440
3,13-14,STATEWIDE,Gujarati,112,109
4,13-14,STATEWIDE,Adangme,83,127
...,...,...,...,...,...
231,13-14,STATEWIDE,Tonga,168,4
232,13-14,STATEWIDE,Marathi,116,67
233,13-14,STATEWIDE,Palauan,336,1
234,13-14,STATEWIDE,Dutch,33,85
235,13-14,STATEWIDE,Haitian Creole,85,37

In [37]:
primary_home_language_2015 = "data/2014-2015 Primary Home Language Totals.csv"
primary_home_language_2015_df = pd.read_csv(primary_home_language_2015)
primary_home_language_2015_rename_df = primary_home_language_2015_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2015_summary_df = primary_home_language_2015_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
primary_home_language_2015_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,14-15,AITKIN PUBLIC SCHOOL DISTRICT,English,11,1184,4.0,Outstate - Enrollment between 1000 and 1999
1,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Swedish,46,4,1.0,Minneapolis and Saint Paul
2,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Swahili, Kiswahili",70,11,1.0,Minneapolis and Saint Paul
3,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Arabic,2,52,1.0,Minneapolis and Saint Paul
4,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Bosnian,41,10,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4790,14-15,STATEWIDE,Faroese,230,1,NaN,NaN
4791,14-15,STATEWIDE,Assamese,182,9,NaN,NaN
4792,14-15,STATEWIDE,Breton,201,1,NaN,NaN
4793,14-15,STATEWIDE,Hmong,20,19889,NaN,NaN
4794,14-15,STATEWIDE,Samoan,56,30,NaN,NaN

In [38]:
primary_home_language_2015_final_df = primary_home_language_2015_summary_df[~primary_home_language_2015_summary_df["Strata Number"].isna()]
primary_home_language_2015_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,14-15,AITKIN PUBLIC SCHOOL DISTRICT,English,11,1184,4.0,Outstate - Enrollment between 1000 and 1999
1,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Swedish,46,4,1.0,Minneapolis and Saint Paul
2,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Swahili, Kiswahili",70,11,1.0,Minneapolis and Saint Paul
3,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Arabic,2,52,1.0,Minneapolis and Saint Paul
4,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Bosnian,41,10,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4552,14-15,SOUTHWEST METRO EDUCATIONAL COOP,Spanish,45,27,2.0,County Metro Area excluding MPLS/STP
4553,14-15,SOUTHWEST METRO EDUCATIONAL COOP,English,11,204,2.0,County Metro Area excluding MPLS/STP
4554,14-15,SOUTHWEST METRO EDUCATIONAL COOP,"Lao, Laotian",28,1,2.0,County Metro Area excluding MPLS/STP
4555,14-15,BENTON-STEARNS ED. DISTRICT,English,11,42,6.0,Outstate - Enrollment less than 500
4556,14-15,MID STATE EDUCATION DISTRICT,English,11,35,6.0,Outstate - Enrollment less than 500

In [42]:
language_summary_2015_df = primary_home_language_2015_summary_df[primary_home_language_2015_summary_df["Strata Number"].isna()]
language_summary_2015_final_df = language_summary_2015_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True)
language_summary_2015_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,14-15,STATEWIDE,"Sarakole, Soninke",355,11
1,14-15,STATEWIDE,Malayalam,115,126
2,14-15,STATEWIDE,Belle,195,1
3,14-15,STATEWIDE,Slovene,44,4
4,14-15,STATEWIDE,Icelandic,22,10
...,...,...,...,...,...
233,14-15,STATEWIDE,Faroese,230,1
234,14-15,STATEWIDE,Assamese,182,9
235,14-15,STATEWIDE,Breton,201,1
236,14-15,STATEWIDE,Hmong,20,19889
237,14-15,STATEWIDE,Samoan,56,30

In [43]:
primary_home_language_2016 = "data/2015-2016 Primary Home Language Totals.csv"
primary_home_language_2016_df = pd.read_csv(primary_home_language_2016)
primary_home_language_2016_rename_df = primary_home_language_2016_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2016_summary_df = primary_home_language_2016_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
primary_home_language_2016_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,15-16,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1187.0,4.0,Outstate - Enrollment between 1000 and 1999
1,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Swahili, Kiswahili",70.0,15.0,1.0,Minneapolis and Saint Paul
2,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Czech,4.0,2.0,1.0,Minneapolis and Saint Paul
3,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Spanish,45.0,5435.0,1.0,Minneapolis and Saint Paul
4,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Romanian,39.0,2.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
5005,15-16,STATEWIDE,Estonian,12.0,30.0,NaN,NaN
5006,15-16,STATEWIDE,Tigre,145.0,16.0,NaN,NaN
5007,15-16,STATEWIDE,Latvian,29.0,27.0,NaN,NaN
5008,15-16,STATEWIDE,Czech,4.0,19.0,NaN,NaN
5009,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
primary_home_language_2016_final_df = primary_home_language_2016_summary_df[~primary_home_language_2016_summary_df["Strata Number"].isna()]
primary_home_language_2016_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,15-16,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1187.0,4.0,Outstate - Enrollment between 1000 and 1999
1,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Swahili, Kiswahili",70.0,15.0,1.0,Minneapolis and Saint Paul
2,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Czech,4.0,2.0,1.0,Minneapolis and Saint Paul
3,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Spanish,45.0,5435.0,1.0,Minneapolis and Saint Paul
4,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Romanian,39.0,2.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4754,15-16,SHERBURNE AND NORTHERN WRIGHT SPECI,Korean,26.0,1.0,6.0,Outstate - Enrollment less than 500
4755,15-16,SHERBURNE AND NORTHERN WRIGHT SPECI,"Swahili, Kiswahili",70.0,1.0,6.0,Outstate - Enrollment less than 500
4756,15-16,SHERBURNE AND NORTHERN WRIGHT SPECI,English,11.0,87.0,6.0,Outstate - Enrollment less than 500
4757,15-16,BENTON-STEARNS ED. DISTRICT,English,11.0,49.0,6.0,Outstate - Enrollment less than 500
4758,15-16,MID STATE EDUCATION DISTRICT,English,11.0,42.0,6.0,Outstate - Enrollment less than 500

In [47]:
language_summary_2016_df = primary_home_language_2016_summary_df[primary_home_language_2016_summary_df["Strata Number"].isna()]
language_summary_2016_final_df = language_summary_2016_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True)
language_summary_2016_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,15-16,STATEWIDE,Bengali,10.0,725.0
1,15-16,STATEWIDE,Finnish,14.0,62.0
2,15-16,STATEWIDE,Wolaytta,396.0,3.0
3,15-16,STATEWIDE,Georgian,82.0,11.0
4,15-16,STATEWIDE,Sinhala,58.0,24.0
...,...,...,...,...,...
246,15-16,STATEWIDE,Estonian,12.0,30.0
247,15-16,STATEWIDE,Tigre,145.0,16.0
248,15-16,STATEWIDE,Latvian,29.0,27.0
249,15-16,STATEWIDE,Czech,4.0,19.0
250,NaN,NaN,NaN,NaN,NaN

In [48]:
primary_home_language_2017 = "data/2016-2017 Primary Home Language Totals.csv"
primary_home_language_2017_df = pd.read_csv(primary_home_language_2017)
primary_home_language_2017_rename_df = primary_home_language_2017_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2017_summary_df = primary_home_language_2017_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
primary_home_language_2017_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,16-17,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,4.0,Outstate - Enrollment between 1000 and 1999
1,16-17,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1142.0,4.0,Outstate - Enrollment between 1000 and 1999
2,16-17,Minneapolis Public School District,Ga,160.0,2.0,1.0,Minneapolis and Saint Paul
3,16-17,Minneapolis Public School District,Bengali,10.0,28.0,1.0,Minneapolis and Saint Paul
4,16-17,Minneapolis Public School District,Krahn,281.0,1.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
5172,16-17,STATEWIDE,Anaang,179.0,1.0,NaN,NaN
5173,16-17,STATEWIDE,Bengali,10.0,662.0,NaN,NaN
5174,16-17,STATEWIDE,Konkani,114.0,13.0,NaN,NaN
5175,16-17,STATEWIDE,Croatian,127.0,14.0,NaN,NaN
5176,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
primary_home_language_2017_final_df = primary_home_language_2017_summary_df[~primary_home_language_2017_summary_df["Strata Number"].isna()]
primary_home_language_2017_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,16-17,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,4.0,Outstate - Enrollment between 1000 and 1999
1,16-17,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1142.0,4.0,Outstate - Enrollment between 1000 and 1999
2,16-17,Minneapolis Public School District,Ga,160.0,2.0,1.0,Minneapolis and Saint Paul
3,16-17,Minneapolis Public School District,Bengali,10.0,28.0,1.0,Minneapolis and Saint Paul
4,16-17,Minneapolis Public School District,Krahn,281.0,1.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4919,16-17,Cannon Valley Special Education Coo,English,11.0,75.0,6.0,Outstate - Enrollment less than 500
4920,16-17,Austin Albert Lea Area Special Educ,Spanish,45.0,3.0,6.0,Outstate - Enrollment less than 500
4921,16-17,Austin Albert Lea Area Special Educ,English,11.0,39.0,6.0,Outstate - Enrollment less than 500
4922,16-17,BENTON-STEARNS ED. DISTRICT,English,11.0,44.0,6.0,Outstate - Enrollment less than 500
4923,16-17,MID STATE EDUCATION DISTRICT,English,11.0,40.0,6.0,Outstate - Enrollment less than 500

In [52]:
language_summary_2017_df = primary_home_language_2017_summary_df[primary_home_language_2017_summary_df["Strata Number"].isna()]
language_summary_2017_final_df = language_summary_2017_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True)
language_summary_2017_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,16-17,STATEWIDE,Karen,129.0,3644.0
1,16-17,STATEWIDE,Russian,40.0,2464.0
2,16-17,STATEWIDE,Mano. Mah,297.0,8.0
3,16-17,STATEWIDE,Arabic,2.0,2842.0
4,16-17,STATEWIDE,Nyanga,167.0,2.0
...,...,...,...,...,...
248,16-17,STATEWIDE,Anaang,179.0,1.0
249,16-17,STATEWIDE,Bengali,10.0,662.0
250,16-17,STATEWIDE,Konkani,114.0,13.0
251,16-17,STATEWIDE,Croatian,127.0,14.0
252,NaN,NaN,NaN,NaN,NaN

In [53]:
primary_home_language_2018 = "data/2017-18 Primary Home Language Totals.csv"
primary_home_language_2018_df = pd.read_csv(primary_home_language_2018)
primary_home_language_2018_rename_df = primary_home_language_2018_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2018_summary_df =  primary_home_language_2018_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
primary_home_language_2018_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,17-18,Aitkin Public School District,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,17-18,Aitkin Public School District,English,11.0,1160.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,17-18,Minneapolis Public School District,Tamil,118.0,5.0,Hennepin,1.0,Minneapolis and Saint Paul (MPLS/STP)
3,17-18,Minneapolis Public School District,"Swahili, Kiswahili",70.0,15.0,Hennepin,1.0,Minneapolis and Saint Paul
4,17-18,Minneapolis Public School District,Maay,100.0,1.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
5423,17-18,Statewide,Ngumba,408.0,6.0,NaN,NaN,NaN
5424,17-18,Statewide,Cherokee,207.0,1.0,NaN,NaN,NaN
5425,17-18,Statewide,Kwanyama,285.0,1.0,NaN,NaN,NaN
5426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
primary_home_language_2018_final_df = primary_home_language_2018_summary_df[~primary_home_language_2018_summary_df["Strata Number"].isna()]
primary_home_language_2018_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,17-18,Aitkin Public School District,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,17-18,Aitkin Public School District,English,11.0,1160.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,17-18,Minneapolis Public School District,Tamil,118.0,5.0,Hennepin,1.0,Minneapolis and Saint Paul (MPLS/STP)
3,17-18,Minneapolis Public School District,"Swahili, Kiswahili",70.0,15.0,Hennepin,1.0,Minneapolis and Saint Paul
4,17-18,Minneapolis Public School District,Maay,100.0,1.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
5160,17-18,Austin Albert Lea Area Special Education Coope...,English,11.0,50.0,Mower,6.0,Outstate - Enrollment less than 500
5161,17-18,Austin Albert Lea Area Special Education Coope...,Spanish,45.0,2.0,Mower,6.0,Outstate - Enrollment less than 500
5162,17-18,Northern Lights Academy Cooperative,English,11.0,16.0,Carlton,6.0,Outstate - Enrollment less than 500
5163,17-18,Benton-Stearns Education District,English,11.0,51.0,Stearns,6.0,Outstate - Enrollment less than 500
5164,17-18,Mid State Education District,English,11.0,47.0,Morrison,6.0,Outstate - Enrollment less than 500

In [56]:
language_summary_2018_df = primary_home_language_2018_summary_df[primary_home_language_2018_summary_df["Strata Number"].isna()]
language_summary_2018_final_df = language_summary_2018_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True)
language_summary_2018_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,17-18,Statewide,"Portuguese, creolized",342.0,4.0
1,17-18,Statewide,Kalenjin,260.0,5.0
2,17-18,Statewide,"Tem, Cocotoli (Kokotoli), Temba, Tim, Timu",421.0,4.0
3,17-18,Statewide,Okinawan,123.0,3.0
4,17-18,Statewide,Khasi,268.0,1.0
...,...,...,...,...,...
258,17-18,Statewide,Ngumba,408.0,6.0
259,17-18,Statewide,Cherokee,207.0,1.0
260,17-18,Statewide,Kwanyama,285.0,1.0
261,NaN,NaN,NaN,NaN,NaN
262,NaN,NaN,NaN,NaN,NaN

In [57]:
primary_home_language_2019 = "data/2018-19 Primary Home Language Totals.csv"
primary_home_language_2019_df = pd.read_csv(primary_home_language_2019)
primary_home_language_2019_rename_df = primary_home_language_2019_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2019_summary_df = primary_home_language_2019_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
primary_home_language_2019_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,18-19,AITKIN PUBLIC SCHOOL DISTRICT,Spanish,45.0,1.0,4.0,Outstate - Enrollment between 1000 and 1999
1,18-19,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,4.0,Outstate - Enrollment between 1000 and 1999
2,18-19,AITKIN PUBLIC SCHOOL DISTRICT,German,17.0,3.0,4.0,Outstate - Enrollment between 1000 and 1999
3,18-19,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1163.0,4.0,Outstate - Enrollment between 1000 and 1999
4,18-19,Minneapolis Public School District,Yoruba,75.0,3.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
5697,18-19,STATEWIDE,Haitian Creole,85.0,53.0,NaN,NaN
5698,18-19,STATEWIDE,Bosnian,41.0,427.0,NaN,NaN
5699,18-19,STATEWIDE,Dakota,8.0,50.0,NaN,NaN
5700,18-19,STATEWIDE,Kashmiri,265.0,2.0,NaN,NaN
5701,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
primary_home_language_2019_final_df = primary_home_language_2019_summary_df[~primary_home_language_2019_summary_df["Strata Number"].isna()]
primary_home_language_2019_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,18-19,AITKIN PUBLIC SCHOOL DISTRICT,Spanish,45.0,1.0,4.0,Outstate - Enrollment between 1000 and 1999
1,18-19,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,4.0,Outstate - Enrollment between 1000 and 1999
2,18-19,AITKIN PUBLIC SCHOOL DISTRICT,German,17.0,3.0,4.0,Outstate - Enrollment between 1000 and 1999
3,18-19,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1163.0,4.0,Outstate - Enrollment between 1000 and 1999
4,18-19,Minneapolis Public School District,Yoruba,75.0,3.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
5397,18-19,Austin Albert Lea Area Special Educ,Spanish,45.0,2.0,6.0,Outstate - Enrollment less than 500
5398,18-19,Austin Albert Lea Area Special Educ,English,11.0,46.0,6.0,Outstate - Enrollment less than 500
5399,18-19,Northern Lights Academy Cooperative,English,11.0,23.0,6.0,Outstate - Enrollment less than 500
5400,18-19,BENTON-STEARNS ED. DISTRICT,English,11.0,54.0,6.0,Outstate - Enrollment less than 500
5401,18-19,MID STATE EDUCATION DISTRICT,English,11.0,40.0,6.0,Outstate - Enrollment less than 500

In [61]:
language_summary_2019_df = primary_home_language_2019_summary_df[primary_home_language_2019_summary_df["Strata Number"].isna()]
language_summary_2019_final_df = language_summary_2019_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True)
language_summary_2019_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,18-19,STATEWIDE,Mon,316.0,28.0
1,18-19,STATEWIDE,Igbo,65.0,163.0
2,18-19,STATEWIDE,Udmurt,382.0,1.0
3,18-19,STATEWIDE,Bemba,98.0,2.0
4,18-19,STATEWIDE,Kabyle,78.0,8.0
...,...,...,...,...,...
295,18-19,STATEWIDE,Haitian Creole,85.0,53.0
296,18-19,STATEWIDE,Bosnian,41.0,427.0
297,18-19,STATEWIDE,Dakota,8.0,50.0
298,18-19,STATEWIDE,Kashmiri,265.0,2.0
299,NaN,NaN,NaN,NaN,NaN

In [62]:
primary_home_language_2020 = "data/2019-20 Primary Home Language Totals.csv"
primary_home_language_2020_df = pd.read_csv(primary_home_language_2020)
primary_home_language_2020_rename_df = primary_home_language_2020_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2020_summary_df =  primary_home_language_2020_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
primary_home_language_2020_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,19-20,Aitkin Public School District,Italian,23.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,19-20,Aitkin Public School District,"Serbian, Herzegovnian, Montenegrin",128.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,19-20,Aitkin Public School District,English,11.0,1149.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,19-20,Aitkin Public School District,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
4,19-20,Aitkin Public School District,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
...,...,...,...,...,...,...,...,...
5963,19-20,Statewide,Bugis,202.0,1.0,NaN,NaN,NaN
5964,19-20,Statewide,Palauan,336.0,8.0,NaN,NaN,NaN
5965,19-20,Statewide,Pahlavani,335.0,2.0,NaN,NaN,NaN
5966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
primary_home_language_2020_final_df = primary_home_language_2020_summary_df[~primary_home_language_2020_summary_df["Strata Number"].isna()]
primary_home_language_2020_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,19-20,Aitkin Public School District,Italian,23.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,19-20,Aitkin Public School District,"Serbian, Herzegovnian, Montenegrin",128.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,19-20,Aitkin Public School District,English,11.0,1149.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,19-20,Aitkin Public School District,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
4,19-20,Aitkin Public School District,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
...,...,...,...,...,...,...,...,...
5649,19-20,Austin Albert Lea Area Special Education Coope...,English,11.0,34.0,Mower,6.0,Outstate - Enrollment less than 500
5650,19-20,Austin Albert Lea Area Special Education Coope...,Spanish,45.0,1.0,Mower,6.0,Outstate - Enrollment less than 500
5651,19-20,Northern Lights Academy Cooperative,English,11.0,29.0,Carlton,6.0,Outstate - Enrollment less than 500
5652,19-20,Benton-Stearns Education District,English,11.0,58.0,Stearns,6.0,Outstate - Enrollment less than 500
5653,19-20,Mid State Education District,English,11.0,50.0,Morrison,6.0,Outstate - Enrollment less than 500

In [65]:
language_summary_2020_df = primary_home_language_2020_summary_df[primary_home_language_2020_summary_df["Strata Number"].isna()]
language_summary_2020_final_df = language_summary_2020_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True)
language_summary_2020_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,19-20,Statewide,Quichua,170.0,50.0
1,19-20,Statewide,Guarani,153.0,3.0
2,19-20,Statewide,Duala,224.0,5.0
3,19-20,Statewide,Mandar,301.0,6.0
4,19-20,Statewide,Maay,100.0,6.0
...,...,...,...,...,...
309,19-20,Statewide,Bugis,202.0,1.0
310,19-20,Statewide,Palauan,336.0,8.0
311,19-20,Statewide,Pahlavani,335.0,2.0
312,NaN,NaN,NaN,NaN,NaN
313,NaN,NaN,NaN,NaN,NaN

In [66]:
primary_home_language_2021 = "data/2020-21 Primary Home Language Totals.csv"
primary_home_language_2021_df = pd.read_csv(primary_home_language_2021)
primary_home_language_2021_rename_df = primary_home_language_2021_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2021_summary_df =  primary_home_language_2021_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
primary_home_language_2021_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,20-21,AITKIN PUBLIC SCHOOL DISTRICT,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,20-21,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,20-21,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1104.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,20-21,Minneapolis Public School District,Sarakole,355.0,1.0,Hennepin,1.0,Minneapolis and Saint Paul
4,20-21,Minneapolis Public School District,"Khmer, Cambodian",5.0,15.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
6020,20-21,STATEWIDE,Abkhazian,171.0,10.0,,NaN,NaN
6021,20-21,STATEWIDE,Shan,130.0,4.0,,NaN,NaN
6022,20-21,STATEWIDE,Nyanja,330.0,4.0,,NaN,NaN
6023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
primary_home_language_2021_final_df = primary_home_language_2021_summary_df[~primary_home_language_2021_summary_df["Strata Number"].isna()]
primary_home_language_2021_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,20-21,AITKIN PUBLIC SCHOOL DISTRICT,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,20-21,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,20-21,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1104.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,20-21,Minneapolis Public School District,Sarakole,355.0,1.0,Hennepin,1.0,Minneapolis and Saint Paul
4,20-21,Minneapolis Public School District,"Khmer, Cambodian",5.0,15.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
5695,20-21,Austin Albert Lea Area Special Educ,English,11.0,38.0,Mower,6.0,Outstate - Enrollment less than 500
5696,20-21,Austin Albert Lea Area Special Educ,Spanish,45.0,2.0,Mower,6.0,Outstate - Enrollment less than 500
5697,20-21,Northern Lights Academy Cooperative,English,11.0,19.0,Carlton,6.0,Outstate - Enrollment less than 500
5698,20-21,Benton-Stearns Education District,English,11.0,59.0,Stearns,6.0,Outstate - Enrollment less than 500
5699,20-21,MID STATE EDUCATION DISTRICT,English,11.0,42.0,Morrison,6.0,Outstate - Enrollment less than 500

In [69]:
language_summary_2021_df = primary_home_language_2021_summary_df[primary_home_language_2021_summary_df["Strata Number"].isna()]
language_summary_2021_final_df = language_summary_2021_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True)
language_summary_2021_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,20-21,STATEWIDE,Quechua,80.0,23.0
1,20-21,STATEWIDE,Saami,350.0,13.0
2,20-21,STATEWIDE,Susu,364.0,8.0
3,20-21,STATEWIDE,Anaang,179.0,1.0
4,20-21,STATEWIDE,Erzya,227.0,2.0
...,...,...,...,...,...
320,20-21,STATEWIDE,Abkhazian,171.0,10.0
321,20-21,STATEWIDE,Shan,130.0,4.0
322,20-21,STATEWIDE,Nyanja,330.0,4.0
323,NaN,NaN,NaN,NaN,NaN
324,NaN,NaN,NaN,NaN,NaN

In [70]:
primary_home_language_2022 = "data/2021-22 Primary Home Language Totals.csv"
primary_home_language_2022_df = pd.read_csv(primary_home_language_2022)
primary_home_language_2022_rename_df = primary_home_language_2022_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2022_summary_df =  primary_home_language_2022_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
primary_home_language_2022_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,21-22,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1038.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Estonian,12.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
4,21-22,Minneapolis Public School District,Afrikaans,1.0,3.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
6285,21-22,STATEWIDE,Dagari,443.0,1.0,,NaN,NaN
6286,21-22,STATEWIDE,Chukeese,444.0,1.0,,NaN,NaN
6287,21-22,STATEWIDE,Eleme,447.0,1.0,,NaN,NaN
6288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
primary_home_language_2022_final_df = primary_home_language_2022_summary_df[~primary_home_language_2022_summary_df["Strata Number"].isna()]
primary_home_language_2022_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,21-22,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1038.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Estonian,12.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
4,21-22,Minneapolis Public School District,Afrikaans,1.0,3.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
5939,21-22,Austin Albert Lea Area Special Educ,Karen,129.0,1.0,Mower,6.0,Outstate - Enrollment less than 500
5940,21-22,Northern Lights Academy Cooperative,English,11.0,27.0,Carlton,6.0,Outstate - Enrollment less than 500
5941,21-22,Up North Learning Center,English,11.0,5.0,Cass,6.0,Outstate - Enrollment less than 500
5942,21-22,Benton-Stearns Education District,English,11.0,58.0,Stearns,6.0,Outstate - Enrollment less than 500
5943,21-22,MID STATE EDUCATION DISTRICT,English,11.0,40.0,Morrison,6.0,Outstate - Enrollment less than 500

In [73]:
language_summary_2022_df = primary_home_language_2022_summary_df[primary_home_language_2022_summary_df["Strata Number"].isna()]
language_summary_2022_final_df = language_summary_2022_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True)
language_summary_2022_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,21-22,STATEWIDE,Afrikaans,1.0,165.0
1,21-22,STATEWIDE,Arabic,2.0,3253.0
2,21-22,STATEWIDE,Armenian,3.0,27.0
3,21-22,STATEWIDE,Czech,4.0,29.0
4,21-22,STATEWIDE,"Khmer, Cambodian",5.0,1329.0
...,...,...,...,...,...
341,21-22,STATEWIDE,Dagari,443.0,1.0
342,21-22,STATEWIDE,Chukeese,444.0,1.0
343,21-22,STATEWIDE,Eleme,447.0,1.0
344,NaN,NaN,NaN,NaN,NaN
345,NaN,NaN,NaN,NaN,NaN

In [76]:
# Merge yearly dataframes

In [ ]:
# Merge summary dataframes